
._GzYRV {
    line-height: 1.2;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }

  ._puncuationMargin {
    font-weight: bold;
  }
  
  ._3eOF8 {
    margin-left: 5px;
    font-weight: bold;
  }
  
  ._f10Tu {
    font-size: 1.2em;
    margin-left: -10px;
    margin-right: 5px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  
  ._1MFti {
    cursor: pointer;
  }
  
  ._2bkNM {
    margin: 0 10px;
    padding: 0;
  }
  
  ._1MGIk {
    font-weight: 600;
    margin-right: 5px;
  }
  
  ._2T6PJ {
    color: rgb(39, 124, 124);
  }
  
  ._1Gho6 {
    color: #df113a;
  }
  
  ._vGjyY {
    color: rgb(154, 100, 69);
  }
  
  ._1bQdo {
    color: rgb(68, 125, 68);
  }
  
  ._3zQKs {
    color: rgb(122, 104, 154);
  }
  
  ._1xvuR {
    color: #43413d;
  }
  
  ._3cpys {
    font-size: 1.2em;
    color: rgb(138 183 230);
  }

  ._16FAf {
    font-size: 1.2em;
    color: rgb(0 100 186);
  }
  
  ._2bSDX {
    font-weight: bolder;
    margin-right: 5px;
    margin-left: 10px;
  }
  
  ._gsbQL {
    color: rgb(253, 246, 227);
  }
  
  ._LaAZe {
    color: rgb(62, 204, 204);
  }
  
  ._GTKgm {
    color: rgb(129, 181, 172);
  }
  
  ._Chy1W {
    color: rgb(255, 165, 114);
  }
  
  ._2bveF {
    color: rgb(113, 207, 113);
  }
  
  ._2vRm- {
    color: rgb(202, 172, 255);
  }
  
  ._1prJR {
    color: rgb(38, 139, 210);
  }
  